.post-body {
    line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.p-panel {
    border-radius: 6px;
    border: 1px solid var(--accent);
    background-color: var(--secondary);
}

.post-header {
    font-weight: 600;
    color: var(--text-primary);
}

.post-footer button {
    width: 30px;
    height: 30px;

    transition: all 100ms ease-in-out;
}

.post-footer button:hover {
    color: #ffffff !important;
    background-color: #0d3b66;
}

.post-body-length {
    overflow: auto;
    max-height: 312px;
}

.vote-btn-container button {
    color: var(--text-primary);
}

.vote-btn-container button:hover {
    color: var(--accent) !important;
    background-color: transparent;
}

.p-panel-content {
    border: none;
    border-radius: 0;
    color: var(--text-primary);
    background-color: var(--secondary);
}

.see-more-btn {
    color: var(--accent);
}
