.post-body {
    line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.p-panel {
    background-color: #FFF;
}

.post-header {
    color: #131515;
    font-weight: 500;
}

.p-panel-content {
    border-radius: 0;
}

.post-footer button {
    width: 30px;
    height: 30px;

    transition: all 100ms ease-in-out;
}

.post-footer button:hover {
    color: #FFFFFF !important;
    background-color: #0D3B66;
}

.post-body-length {
    overflow: auto;
    max-height: 312px;
}

.post-menu > .p-menu-list {
    margin: 0;
    padding: 0;
}

.post-menu .p-menuitem-text,
.post-menu .p-menuitem-icon {
    color: #111827 !important;
    font-size: 14px;
}

.post-menu .p-menuitem-link:hover {
    background-color: #DCFFFD;
}
