.post-body {
    line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.p-panel {
    background-color: #FFF;
}

.post-header {
    color: #131515;
    font-weight: 500;
}

.p-panel-content {
    border-radius: 0;
}

.post-footer button {
    width: 30px;
    height: 30px;

    transition: all 100ms ease-in-out;
}

.post-footer button:hover {
    color: #FFFFFF !important;
    background-color: #0D3B66;
}
