.card {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 8px;
    color: var(--stroke);
    background-color: var(--main);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
}

.card h3 {
    font-weight: 700;
    margin-top: 1rem;
    color: var(--stroke);
}

.card p {
    margin-bottom: 0;
}

.imgContainer {
    width: 100px;
    height: 100px;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgContainer,
.imgContainer img {
    border-radius: 50%;
}

.card footer {
    margin-top: auto;
    margin-left: auto;
    padding-top: 1rem;
    color: var(--tertiary);
}
