.navLinksContainer a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.navLinksContainer a,
.navLinksContainer svg {
    color: var(--paragraph);

    &:global(.active),
    &:global(.active) svg {
        color: var(--highlight);
    }
}

.navLinksContainer a:global(.active) span {
    margin-bottom: -2px;
    border-bottom: 2px solid var(--highlight);
}

@media (max-width: 991px) {
    .navLinksContainer a {
        gap: 0.6rem;
    }

    .navLinksContainer {
        margin-top: 0.5rem;
    }

    .navLinksContainer a:nth-of-type(2) {
        margin: 0.7rem 0;
    }
}

@media (min-width: 992px) {
    .navLinksContainer {
        margin-left: 1.5rem;
    }

    .navLinksContainer a:nth-of-type(2) {
        margin: 0 1.5rem;
    }
}
