.navLinks a {
    color: var(--paragraph);

    &:global(.active) {
        color: var(--highlight);
    }
}

@media (min-width: 992px) {
    .navLinks a:nth-of-type(2) {
        margin: 0 1rem;
    }

    .navLinks a:global(.active) {
        border-bottom: 2px solid var(--highlight) !important;
    }
}
