.navLinksContainer a {
    color: var(--paragraph);

    &:global(.active) {
        color: var(--highlight);
    }
}

@media (min-width: 992px) {
    .navLinksContainer {
        margin-left: 1.5rem;
    }

    .navLinksContainer a:nth-of-type(2) {
        margin: 0 1rem;
    }

    .navLinksContainer a:global(.active) {
        border-bottom: 2px solid var(--highlight);
    }
}
