.mainNav {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.navLinksContainer a {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    &:hover,
    &:hover svg {
        color: var(--highlight);
    }
}

.navLinksContainer a,
.navLinksContainer svg {
    color: var(--paragraph);

    &:global(.active),
    &:global(.active) svg {
        color: var(--highlight);
    }
}

.navLinksContainer a:global(.active) span {
    margin-bottom: -1.5px;
    border-bottom: 1.5px solid var(--highlight);
}

@media (max-width: 991px) {
    .navLinksContainer a {
        gap: 0.6rem;
    }

    .navLinksContainer {
        margin-top: 0.5rem;
    }

    .navLinksContainer a:nth-of-type(2) {
        margin: 0.7rem 0;
    }
}

@media (min-width: 992px) {
    .navLinksContainer {
        margin-left: 3rem;
    }

    .navLinksContainer a:nth-of-type(2) {
        margin: 0 2rem;
    }
}
