.btn {
    border: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 2px;
    color: var(--button-text);
    background-color: var(--button);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        background-color: var(--button-hover);
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    &:active {
        background-color: var(--button-active);
    }

    &:disabled {
        background-color: grey;
    }

    transition:
        color 0.2s,
        background-color 0.2s;
}
