.btn {
    border: none;
    font-weight: 500;
    border-radius: 2px;
    color: var(--button-text);
    background-color: var(--button);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;

    &:hover {
        background-color: var(--button-hover);
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    &:active {
        background-color: var(--button-active);
    }

    &:disabled {
        background-color: grey;
    }

    transition:
        color 0.2s,
        background-color 0.2s;
}

.primary {
    min-width: 145px;
    min-height: 50px;
    padding: 10px 20px;
}

.small {
    padding: 20px;
    border: 1px solid var(--stroke);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.spinner {
    width: 25px;
    height: 25px;
}
