.login-logo {
    font-size: 40px;
    line-height: 35px;
    font-family: "Bebas neue", sans-serif;
}

.nav-logo {
    font-size: 20px;
    line-height: 15px;
    font-family: "Bebas neue", sans-serif;
}