.logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.logo img {
    width: 45px;
    height: 45px;
    margin: 0.5rem 0;
    border-radius: 2px;
}

.logo h5 {
    display: flex;
    flex-direction: column;

    margin: 0;
    line-height: 0.8;
    font-family: 'Cookie', sans-serif;
}

@media (max-width: 991px) {
    .logo h5 {
        font-size: 2.2rem;
        margin-left: 0.4rem;
        flex-direction: row;
    }
}
