.settings-profile-form-title,
.address-card-title {
    font-weight: 600;
    font-family: "Bebas neue", sans-serif;
}

.settings-profile-form {
    padding: 15px 30px;
    border-radius: 6px;
    border: 1px solid var(--accent);
    background-color: var(--secondary);
}

input[type="file"] {
    display: none;
}

.file-input {
    padding: 12px;
    cursor: pointer;
    display: inline-block;
}

.file-input span {
    font-weight: 600;
    color: var(--accent);
}

.p-tabview-nav-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-input-number .p-inputnumber-input {
    color: var(--text-primary);
    background-color: var(--primary);
    border: 1px solid var(--text-primary);
}
