.profile-avatar {
    width: 300px;
    height: 300px;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 1);
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)),
        url('../../assets/images/unsplashLoginPage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.profile-name {
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.p-tabview-nav-content {
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--secondary);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.p-tabview-nav {
    margin: 0;
}

.profile-tabview .p-tabview-nav {
    padding: 0;
}

.profile-tabview .p-tabview-nav,
.profile-tabview .p-tabview-nav a {
    color: #8c8c8c;
    border-color: #8c8c8c;
    text-decoration: none;
    background-color: var(--secondary);

    transition: all 100ms ease-in-out;
}

.profile-tabview .p-tabview-nav a:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.profile-tabview .p-tabview-selected a {
    color: var(--text-primary) !important;
    border-color: var(--text-primary) !important;
}

.profile-tabview .p-tabview-panels {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    color: var(--text-primary);
    background-color: var(--primary);
}

.photo-container {
    width: 100%;
    height: 300px;
}

@media (min-width: 768px) {
    .photo-container {
        width: 100%;
        height: 500px;
    }
}

.profile-gallery-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-gallery-grid {
    display: grid;
    gap: 3px;
    justify-content: center;
    grid-area: 1 / 1 / 3 / 1;
    grid-template-columns: repeat(2, auto);
}

@media (min-width: 1024px) {
    .photo-container {
        width: 300px;
        height: 450px;
    }

    .profile-gallery-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-gallery-grid {
        display: grid;
        gap: 3px;
        justify-content: start;
        grid-area: 1 / 1 / 3 / 1;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, auto);
    }
}

.p-galleria-item {
    width: 95dvw;
    height: 95dvh;
}

.p-galleria-caption {
    background-color: rgba(0, 0, 0, 0.85);
}

.profile-gallery-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.p-galleria-close {
    z-index: 999;
}

.profile-gallery-item,
.profile-gallery-thumbnail {
    display: block;
}

.dialog-photo-upload .p-dialog-header,
.dialog-photo-upload .p-dialog-content {
    color: var(--text-primary);
    background-color: var(--secondary);
}

.dialog-photo-upload .p-dialog-header-icon {
    color: var(--text-primary);

    transition: all 100ms ease-in-out;
}

.dialog-photo-upload .p-dialog-header-icon:hover {
    color: var(--text-secondary);
    background-color: var(--accent);
}

.custom-file-upload .p-fileupload-buttonbar,
.custom-file-upload .p-fileupload-content {
    color: var(--text-primary);
    background-color: var(--primary);
}

.custom-file-upload .p-fileupload-buttonbar .p-button {
    background-color: var(--secondary);
}

.photo-tags-input {
    color: var(--text-primary);
    background-color: var(--primary);
    border: 1px solid var(--text-primary);
}

.form-edit-photo,
.form-edit-photo .p-dialog-content,
.form-edit-photo .p-dialog-header {
    color: var(--text-primary);
    background-color: var(--secondary);
}

.form-edit-photo .p-dialog-header-icon {
    color: var(--text-primary);

    transition: all 100ms ease-in-out;
}

.form-edit-photo .p-dialog-header-icon:hover {
    color: var(--text-secondary);
    background-color: var(--accent);
}

.equipment-list {
    width: fit-content;
}

.equipment-list .p-card-body {
    padding: 0 30px;
    width: 265px;
    color: var(--text-primary);
    background-color: var(--secondary);
}

.equipment-list .list-group-item {
    border: none;
    color: var(--text-primary);
    background-color: var(--primary);
}

.equipment-menu {
    position: absolute;
    right: 7px;
    top: 7px;
}

.equipment-menu .pi {
    visibility: hidden;
    color: var(--text-primary);

    transition: all 100ms ease-in-out;
}

.equipment-list:hover .pi {
    visibility: visible;
}

.equipment-menu .pi:hover {
    transform: scale(1.1);
}

.workshop-card .p-card-content {
    padding: 0;
}

.custom-calendar-input .p-component {
    box-shadow: none;
}

.shop-photo-print-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;

    opacity: 0;

    transition: all 100ms ease-in-out;
}

.photo-container:hover .shop-photo-print-btn {
    opacity: 1;
}

.shop-photo-print-container {
    width: 300px;
    height: 250px;
}

.shop-photo-print-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
