.custom-message-container {
    color: var(--text-secondary);
    box-shadow: 4px 4px var(--accent);
    background-color: var(--text-primary);
    border-right: 1px dashed var(--text-secondary);
    border-bottom: 1px dashed var(--text-secondary);
}

.custom-message-container p {
    font-weight: 600;
}

.custom-message-spinner {
    width: 40px;
    height: 40px;
}

.custom-message-text {
    font-family: "Bebas neue", sans-serif;
}
