@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* dark theme */
    --background: #232946;
    --headline: #fffffe;
    --paragraph: #b8c1ec;
    --tertiary: #eebbc3;
    --highlight: #eebbc3;
    --button: #eebbc3;
    --button-text: #232946;
    --button-hover: #f8e2e6;
    --button-active: #e4909d;

    /* light theme */
    /* --background: #eff0f3;
    --headline: #0d0d0d;
    --paragraph: #2a2a2a;
    --tertiary: #d9376e;
    --highlight: #ff8e3c;
    --button: #ff8e3c;
    --button-text: #0d0d0d;
    --button-hover: #ffac70;
    --button-active: #ff700a; */

    --main: #b8c1ec;
    --secondary: #fffffe;
    --stroke: #121629;
}

body {
    line-height: 1.6;
    color: var(--paragraph);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

a {
    font-weight: 500;
    display: inline-block;
}

body,
a {
    transition:
        color 0.2s,
        background-color 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headline);
}

svg {
    width: 1.1rem;
    height: 1.1rem;
    stroke-width: 1px;
    color: var(--button-text);
}
