@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #111827;
    --secondary: #2c3d63;
    --accent: #e7b236;
    --text-primary: #ffffff;
    --text-secondary: #131515;
}

body {
    color: var(--text-primary);
    background-color: var(--primary);
    font-family: 'Inter', sans-serif;
}

.custom-btn {
    color: #131515;
    border-radius: 6px;
    border: 1px solid var(--accent);
    background-color: var(--accent);

    transition: all 150ms linear;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: hsl(42, 68%, 73%);
}

.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff,
    0 0 0 4px #ecc05b,
    0 1px 2px 0 rgba(0, 0, 0, 0);
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px #ecc05b;
    border-color: #ecc05b;
}

@media (max-width: 768px) {
    .p-tooltip {
        display: none;
    }
}

textarea {
    resize: none;
}

.custom-menu .p-menu-list {
    margin: 0;
    padding: 0;
}

.custom-menu .p-menuitem-text,
.custom-menu .p-menuitem-icon {
    font-size: 14px;
    color: #111827 !important;
}

.custom-menu .p-menuitem-link {
    transition: all 100ms linear;
}

.custom-menu .p-menuitem-link:hover {
    background-color: var(--accent);
}

.custom-menu .p-contextmenu-root-list {
    margin: 0;
    padding: 0;
}

.custom-dialog {
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.8);
}

.custom-dialog .p-dialog-title {
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}

.custom-dialog .p-dialog-header,
.custom-dialog .p-dialog-content,
.custom-dialog .p-dialog-header-icon {
    color: var(--text-primary);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);

    transition: all 100ms ease-in-out;
}

.custom-dialog .p-dialog-header-icon {
    border-radius: 50%;
    color: var(--accent);
    stroke: var(--accent);
}

.custom-dialog .p-dialog-header-icon:hover {
    border-radius: 50%;
    color: var(--accent);
    border: 2px solid var(--accent);
}

.p-dialog {
    min-width: 304px;
    width: 500px;
}

.post-menu {
    color: var(--text-primary);

    transition: all 150ms linear;
}

.post-menu:hover {
    color: var(--accent);
}

.p-menuitem-link {
    text-decoration: none;
}

.custom-input {
    color: var(--text-primary);
    background-color: var(--primary);
    border: 1px solid var(--text-primary);
}

.custom-card.card {
    border-radius: 6px;
    color: var(--text-primary);
    border: 1px solid var(--accent);
    background-color: var(--secondary);
}
