.container {
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container h2 {
    margin-bottom: 1.5rem;
}

.container h2 span {
    margin: 0 10px;
    font-weight: 100;
}
