.signup-form-container {
    background-color: rgba(44, 61, 99, 0.9);
    backdrop-filter: blur(10px);
    overflow-y: auto;
    padding: 50px 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transform: translateX(-100%);

    transition: transform 400ms ease-in-out;
}

.slide-in {
    transform: translateX(0);
}

.cancel-btn {
    border-radius: 6px;
    border: 1px solid var(--primary);
    background-color: var(--primary);

    transition: all 150ms linear;
}

.cancel-btn:hover {
    border-radius: 5px;
    border-color: #fff;
}

.signup-form {
    margin-top: 200px;
}

.signup-form input,
.cancel-btn,
.signup-btn {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

@media (min-width: 768px) {
    .signup-form-container {
        padding: 0;
    }

    .signup-form {
        margin: 0;
    }
}

.custom-password-input .p-input-icon {
    display: flex;
    align-items: center;
}

.signup-loading-btn-container .loading-btn {
    min-width: 250px;
}
